<!-- candidate_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Information Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>CANDIDATE INFORMATION FORM</h1>
    <form action="{{ url_for('submit_candidate') }}" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>

        <label for="phone_number">Phone Number:</label><br>
        <input type="text" id="phone_number" name="phone_number" required><br>

        <label for="alt_phone_number">Alternative Phone Number:</label><br>
        <input type="text" id="alt_phone_number" name="alt_phone_number"><br>

        <label for="semester">Semester:</label><br>
        <input type="number" id="semester" name="semester" required><br>

        <label for="stream">Stream:</label><br>
        <input type="text" id="stream" name="stream" required><br>

        <label for="college_name">College Name:</label><br>
        <input type="text" id="college_name" name="college_name" required><br>

        <label for="placement_officer_name">Placement Officer Name:</label><br>
        <input type="text" id="placement_officer_name" name="placement_officer_name"><br>

        <label for="placement_officer_email">Placement Officer Email:</label><br>
        <input type="email" id="placement_officer_email" name="placement_officer_email"><br>

        <label for="placement_officer_phone">Placement Officer Phone:</label><br>
        <input type="text" id="placement_officer_phone" name="placement_officer_phone"><br>

        <label for="city">City:</label><br>
        <input type="text" id="city" name="city" required><br>

        <label for="state">State:</label><br>
        <input type="text" id="state" name="state" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
